body {
    font-family: 'Georgia', serif;
    background-color: #2c2a4a;
    color: #fff;
    /* Margin 0 e padding 0 remove as margens e o preenchimento padrão do navegador */
    margin: 0;
    padding: 0;
    cursor: url(pata.cur) 16 16, auto;
}

header {
    background-color: #3e3b67;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    /* Usei border para colocar uma borda inferior de 4px de espessura, na cor dourada (linha abaixo do cabeçalho) */
    border-bottom: 4px solid #e5c07b;
}

/* lista sem estilo */
nav ul {
    list-style: none;
    padding: 0;
}

/* Faz com que os itens da lista sejam exibidos na horizontal e, adicionei margem de 15px */
nav ul li {
    display: inline;
    margin: 0 15px;
}

/* Estiliza os links dentro da navegação, foi definido a cor dourada, ajustei o tamanho para 18px */
nav ul li a {
    color: #e5c07b;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #e5c07b;
    font-size: 28px;
    border-bottom: 2px solid #e5c07b;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.ajuda-opcoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ajuda-item {
    background-color: #3e3b67;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
}

/* Estilo do Rodapé */
footer {
    background-color: #3e3b67;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.logo-cachorro {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}
